* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: "CodeNewRoman Nerd Font Mono";
}

// ---------------------------------- Global ----------------------------------
.bar {
    background-color: rgba(176, 176, 176, 0.3);
}

tooltip.background {
    background-color: #1f1f1f;
    border-radius: 8px;
    font-size: 18;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}

// ---------------------------------- Left section ----------------------------------
.dashboard,
.workspaces-widget,
.workspace-button-active,
.workspace-button-deactive {
    padding: 0px 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
    color: #fafafa;
    font-size: 30px;
}

.workspace-button {
    &-active {
        padding: 0 5px;
    }
    &-deactive {
        padding: 0 5px;
        color: #7c7c7c;
    }
}

// ---------------------------------- Central section ----------------------------------
.date-time,
.notification {
    padding: 0px 13px;
    background-color: #2a2a2a;
    border-radius: 8px;
    color: #fafafa;
    font-size: 30px;
}

.date-time {
    font-size: 18px;
}

// ---------------------------------- Right section ----------------------------------
.system-monitor-widget,
.power-menu {
    padding: 0px 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
    color: #fafafa;
}

.system-monitor-circular {
    background-color: #5a5a5a;
    color: #d35d6e;
}

.power-menu {
    padding: 0px 12px;
    font-size: 30px;
}

.left-widgets,
.center-widgets,
.right-widgets {
    padding: 5px 0;
}

.left-widgets {
    margin-left: 10px;
}

.right-widgets {
    margin-right: 10px;
}
