* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.bar,
.leftwidgets,
.centerwidgets,
.rightwidgets,
.workspaces-widget,
.system-monitor-widget {
    border-radius: 40px;
}

.workspaces-widget,
.system-monitor-widget {
    padding: 0px 20px;
}

.bar {
    background-color: rgba(58, 58, 58, 0.85);
}

.workspace-button {
    font-size: 30px;
}

.workspaces-widget {
    color: #0b5452;
    // background: linear-gradient(90deg, rgba(0,228,208,1), rgba(0,210,218,1));
    background: linear-gradient(90deg, #00cae0, #00bde8);
}

.window_title {
    font-size: 18px;
    color: #fafafa;
}

.centerwidgets {
    font-size: 20px;
    color: #0b5452;
}

.rightwidgets {
}

.rightwidgets slider {
    color: #ffd5cd;
}

.metric {
    font-size: 20px;
    padding-left: 20px;
}

.metric scale trough highlight {
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.system-monitor-widget {
    background: linear-gradient(90deg, #00b0ef, #00aaf3);
}

.system-monitor-circular {
    background-color: #5a5a5a;
    color: #fe9f21;
}
