* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.bar,
.workspaces-widget,
.date-time,
.system-monitor-widget,
.power-button {
    border-radius: 8px;
    background-color: #2a2a2a;
}

.workspaces-widget,
.date-time,
.system-monitor-widget {
    padding: 0px 16px;
    color: #eaeaea;
}

.bar {
    background-color: rgba(176, 176, 176, 0.3);
}

.workspace-button-active,
.workspace-button-deactive {
    padding: 0px 5px;
    font-size: 30px;
}

.workspace-button-deactive {
    color: #7c7c7c;
}

.workspaces-widget {
    background-color: #2a2a2a;
}

.window_title {
    font-size: 18px;
    color: #fafafa;
}

.system-monitor-widget {
    margin-right: 5px;
}

.power-button {
    padding: 0px 10px;
    font-size: 30px;
}

.left-widgets {
    padding: 4px;
}

.center-widgets {
    font-size: 20px;
    padding: 4px;
}

.right-widgets {
    padding: 4px;
}

.right-widgets slider {
    color: #ffd5cd;
}

.metric {
    font-size: 20px;
    padding-left: 20px;
}

.metric scale trough highlight {
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.system-monitor-circular {
    background-color: #5a5a5a;
    color: #d35d6e;
}
