* {
    all: unset;
    font-family: "CodeNewRoman Nerd Font Mono";
}

.power-overlay {
    background: rgba(90, 90, 90, 0.3);
}

.confirm-button,
.power-button {
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #fafafa;
    &-focused {
        background-color: #1a1a1a;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 2px #fafafa inset;
        color: #fafafa;
    }
}

.confirm-button,
.confirm-button-focused {
    font-size: 30px;
}

.power-button,
.power-button-focused {
    font-size: 100px;
}
